<br />
<div class="row align-center">
  <div class="head small-3 small-centered columns">
    <form id="newGame" method="POST" action="/games"></form>
    <a onclick="document.getElementById('newGame').submit();" class="button large">PLAY!</a>
  </div>
</div>
<br />
