<br />
<div class="row align-center">
  <div class="head small-3 small-centered columns">
    <form id="newGame" method="POST" action="/games"></form>
    <a id="submit" onclick="document.getElementById('newGame').submit();" class="button large">PLAY!</a>
  </div>
</div>
<br />

<div class="row align-center">
  <div class="wrapper">
  <div class="top">
    <div class="wrapper-inner">
      <div class="box-inner">A</div>
      <div class="box-inner">B</div>
      <div class="box-inner">C</div>
      <div class="box-inner">D</div>
      <div class="box-inner">E</div>
      <div class="box-inner">F</div>
      <div class="box-inner">G</div>
      <div class="box-inner">H</div>
    </div>
  </div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="bottom">
    <div class="wrapper-inner">
      <div class="box-inner">A</div>
      <div class="box-inner">B</div>
      <div class="box-inner">C</div>
      <div class="box-inner">D</div>
      <div class="box-inner">E</div>
      <div class="box-inner">F</div>
      <div class="box-inner">G</div>
      <div class="box-inner">H</div>
    </div>
  </div>

</div>
</div>

