<script>
document.addEventListener("DOMContentLoaded", function(){
  let activePiece;
  let destinationSquare;

  //Setup Promise to Grab board
  let fetchBoard = fetch("<%= game_pieces_path(@game) %>");

  //Function to populate initial board
  function renderInitialBoard (json) {
    json.forEach( piece => {
      let [x, y] = [piece.x_position, piece.y_position];
      let boardSquare = document.querySelector(`[data-x='${x}'][data-y='${y}']`);
      boardSquare.innerHTML = piece.image;
      boardSquare.addEventListener("click", checkActivePiece);
      boardSquare.addEventListener("click", updateActivePiece);
    });
  };

  function checkActivePiece() {
    let currentSelection = document.querySelector(".clicked");
    if (currentSelection) { currentSelection.classList.remove("clicked") }
  }

  function updateActivePiece() {
    activePiece = event.target;
    activePiece.classList.add("clicked");
  }
  
  fetchBoard
    .then(response => response.json())
    .then(json => renderInitialBoard(json))
    .catch(error => console.log(error));


  // Maybe attach different event handlers depending on the piece type (instead of for each empty div)
  document.querySelectorAll('div:empty').forEach( box => {
    box.addEventListener("click", function(event) {
      if (activePiece) {
        let initialSquare = activePiece;
        let destinationSquare = event.target;
        let [initialX, initialY] = [initialSquare.dataset.x, initialSquare.dataset.y]
        let [newX, newY] = [destinationSquare.dataset.x, destinationSquare.dataset.y]

        if (!destinationSquare.innerHTML) {
          destinationSquare.innerHTML = initialSquare.innerHTML
        } else { return; }

        initialSquare.innerHTML = "";
        initialSquare.classList.remove("clicked");        
        destinationSquare.addEventListener("click", checkActivePiece);
        destinationSquare.addEventListener("click", updateActivePiece);
        initialSquare.removeEventListener("click", checkActivePiece);
        initialSquare.removeEventListener("click", updateActivePiece);
        activePiece = null; 
      }
    });
  });

});
</script>
<br />

<div class="text-center">
  <h1><%= @game.name %></h1>
</div>


<div class="grid-x grid-padding-x align-spaced">
  <div class="cell large-3 text-center" id="player1">
    <h3>Player 1 Ready!</h3>
    <h4><%= @player_white.username %></h4>
  </div>

  <div class="cell large-auto">
    <div class="row align-center">
      <div class="wrapper">
        <div class="box-inner"></div>
        <div class="box-inner">A</div>
        <div class="box-inner">B</div>
        <div class="box-inner">C</div>
        <div class="box-inner">D</div>
        <div class="box-inner">E</div>
        <div class="box-inner">F</div>
        <div class="box-inner">G</div>
        <div class="box-inner">H</div>
        <div class="box-inner"></div>
      
        <div class="box-inner">8</div>
        <div class="box"       data-x = "1" data-y = "8"></div>
        <div class="box white" data-x = "2" data-y = "8"></div>
        <div class="box"       data-x = "3" data-y = "8"></div>
        <div class="box white" data-x = "4" data-y = "8"></div>
        <div class="box"       data-x = "5" data-y = "8"></div>
        <div class="box white" data-x = "6" data-y = "8"></div>
        <div class="box"       data-x = "7" data-y = "8"></div>
        <div class="box white" data-x = "8" data-y = "8"></div>
        <div class="box-inner">8</div>


        <div class="box-inner">7</div>
        <div class="box white" data-x="1" data-y="7"></div>
        <div class="box"       data-x="2" data-y="7"></div>
        <div class="box white" data-x="3" data-y="7"></div>
        <div class="box"       data-x="4" data-y="7"></div>
        <div class="box white" data-x="5" data-y="7"></div>
        <div class="box"       data-x="6" data-y="7"></div>
        <div class="box white" data-x="7" data-y="7"></div>
        <div class="box"       data-x="8" data-y="7"></div>
        <div class="box-inner">7</div>

        <div class="box-inner">6</div>
        <div class="box"       data-x = "1" data-y = "6"></div>
        <div class="box white" data-x = "2" data-y = "6"></div>
        <div class="box"       data-x = "3" data-y = "6"></div>
        <div class="box white" data-x = "4" data-y = "6"></div>
        <div class="box"       data-x = "5" data-y = "6"></div>
        <div class="box white" data-x = "6" data-y = "6"></div>
        <div class="box"       data-x = "7" data-y = "6"></div>
        <div class="box white" data-x = "8" data-y = "6"></div>
        <div class="box-inner">6</div>

        <div class="box-inner">5</div>
        <div class="box white" data-x="1" data-y="5"></div>
        <div class="box"       data-x="2" data-y="5"></div>
        <div class="box white" data-x="3" data-y="5"></div>
        <div class="box"       data-x="4" data-y="5"></div>
        <div class="box white" data-x="5" data-y="5"></div>
        <div class="box"       data-x="6" data-y="5"></div>
        <div class="box white" data-x="7" data-y="5"></div>
        <div class="box"       data-x="8" data-y="5"></div>
        <div class="box-inner">5</div>

        <div class="box-inner">4</div>
        <div class="box"       data-x = "1" data-y = "4"></div>
        <div class="box white" data-x = "2" data-y = "4"></div>
        <div class="box"       data-x = "3" data-y = "4"></div>
        <div class="box white" data-x = "4" data-y = "4"></div>
        <div class="box"       data-x = "5" data-y = "4"></div>
        <div class="box white" data-x = "6" data-y = "4"></div>
        <div class="box"       data-x = "7" data-y = "4"></div>
        <div class="box white" data-x = "8" data-y = "4"></div>
        <div class="box-inner">4</div>

        <div class="box-inner">3</div>
        <div class="box white" data-x="1" data-y="3"></div>
        <div class="box"       data-x="2" data-y="3"></div>
        <div class="box white" data-x="3" data-y="3"></div>
        <div class="box"       data-x="4" data-y="3"></div>
        <div class="box white" data-x="5" data-y="3"></div>
        <div class="box"       data-x="6" data-y="3"></div>
        <div class="box white" data-x="7" data-y="3"></div>
        <div class="box"       data-x="8" data-y="3"></div>
        <div class="box-inner">3</div>

        <div class="box-inner">2</div>
        <div class="box"       data-x = "1" data-y = "2"></div>
        <div class="box white" data-x = "2" data-y = "2"></div>
        <div class="box"       data-x = "3" data-y = "2"></div>
        <div class="box white" data-x = "4" data-y = "2"></div>
        <div class="box"       data-x = "5" data-y = "2"></div>
        <div class="box white" data-x = "6" data-y = "2"></div>
        <div class="box"       data-x = "7" data-y = "2"></div>
        <div class="box white" data-x = "8" data-y = "2"></div>
        <div class="box-inner">2</div>

        <div class="box-inner">1</div>
        <div class="box white" data-x="1" data-y="1"></div>
        <div class="box"       data-x="2" data-y="1"></div>
        <div class="box white" data-x="3" data-y="1"></div>
        <div class="box"       data-x="4" data-y="1"></div>
        <div class="box white" data-x="5" data-y="1"></div>
        <div class="box"       data-x="6" data-y="1"></div>
        <div class="box white" data-x="7" data-y="1"></div>
        <div class="box"       data-x="8" data-y="1"></div>
        <div class="box-inner">1</div>
        
        <div class="box-inner"></div>
        <div class="box-inner">A</div>
        <div class="box-inner">B</div>
        <div class="box-inner">C</div>
        <div class="box-inner">D</div>
        <div class="box-inner">E</div>
        <div class="box-inner">F</div>
        <div class="box-inner">G</div>
        <div class="box-inner">H</div>
        <div class="box-inner"></div>
      </div>
    </div>
  </div>

  <div class="cell large-3 text-center" id="player2">
    <% if @player_black %>
        <h3>Player 2 Ready!</h3>
        <h4><%= @player_black.username %></h4>
    <% else %>
        <h3> Searching for Opponent...</h3>
    <% end %>
  </div>

</div>