<script>
$(function(){
  //Setup Promise to Grab board
  let fetchBoard = $.getJSON("<%= game_pieces_path(@game) %>");
  //Function to populate initial board
  function renderInitialBoard (json) {
    let ranks = ["A", "B", "C", "D", "E", "F", "G", "H"];
    let files = ["1", "2", "3", "4", "5", "6", "7", "8"];
    json.forEach( piece => {
      let pieceRank = ranks[piece.x_position-1];
      let pieceFile = files[piece.y_position-1];
      let piecePosition = pieceRank.concat(pieceFile);
      let boardSquare = $(`.${piecePosition}`);
      boardSquare.html(piece.image);
      boardSquare.on("click", function(event){
        // console.log(event.target.attributes["data-x"].value);
        // console.log(event.target.attributes["data-y"].value);
        event.target.classList.toggle("clicked");
      });
    })
  };

  fetchBoard.done(response => renderInitialBoard(response));


});
</script>
<br />

<div class="text-center">
  <h1><%= @game.name %></h1>
</div>


<div class="grid-x grid-padding-x align-spaced">
  <div class="cell large-3 text-center" id="player1">
    <h3>Player 1 Ready!</h3>
    <h4><%= @player_white.username %></h4>
  </div>

  <div class="cell large-auto">
    <div class="row align-center">
      <div class="wrapper">
        <div class="box-inner"></div>
        <div class="box-inner">A</div>
        <div class="box-inner">B</div>
        <div class="box-inner">C</div>
        <div class="box-inner">D</div>
        <div class="box-inner">E</div>
        <div class="box-inner">F</div>
        <div class="box-inner">G</div>
        <div class="box-inner">H</div>
        <div class="box-inner"></div>
      
        <div class="box-inner">8</div>
        <div class="box" data-x = "0" data-y = "7"></div>
        <div class="box white" data-x = "1" data-y = "7"></div>
        <div class="box" data-x = "2" data-y = "7"></div>
        <div class="box white" data-x = "3" data-y = "7"></div>
        <div class="box" data-x = "4" data-y = "7"></div>
        <div class="box white" data-x = "5" data-y = "7"></div>
        <div class="box" data-x = "6" data-y = "7"></div>
        <div class="box white" data-x = "7" data-y = "7"></div>
        <div class="box-inner">8</div>


        <div class="box-inner">7</div>
        <div class="box white" data-x="0" data-y="6"></div>
        <div class="box" data-x="1" data-y="6"></div>
        <div class="box white" data-x="2" data-y="6"></div>
        <div class="box" data-x="3" data-y="6"></div>
        <div class="box white" data-x="4" data-y="6"></div>
        <div class="box" data-x="5" data-y="6"></div>
        <div class="box white" data-x="6" data-y="6"></div>
        <div class="box" data-x="7" data-y="6"></div>
        <div class="box-inner">7</div>

        <div class="box-inner">6</div>
        <div class="box" data-x = "0" data-y = "5"></div>
        <div class="box white" data-x = "1" data-y = "5"></div>
        <div class="box" data-x = "2" data-y = "5"></div>
        <div class="box white" data-x = "3" data-y = "5"></div>
        <div class="box" data-x = "4" data-y = "5"></div>
        <div class="box white" data-x = "5" data-y = "5"></div>
        <div class="box" data-x = "6" data-y = "5"></div>
        <div class="box white" data-x = "7" data-y = "5"></div>
        <div class="box-inner">6</div>

        <div class="box-inner">5</div>
        <div class="box white" data-x="0" data-y="4"></div>
        <div class="box" data-x="1" data-y="4"></div>
        <div class="box white" data-x="2" data-y="4"></div>
        <div class="box" data-x="3" data-y="4"></div>
        <div class="box white" data-x="4" data-y="4"></div>
        <div class="box" data-x="5" data-y="4"></div>
        <div class="box white" data-x="6" data-y="4"></div>
        <div class="box" data-x="7" data-y="4"></div>
        <div class="box-inner">5</div>

        <div class="box-inner">4</div>
        <div class="A4 box"></div>
        <div class="B4 box white"></div>
        <div class="C4 box"></div>
        <div class="D4 box white"></div>
        <div class="E4 box"></div>
        <div class="F4 box white"></div>
        <div class="G4 box"></div>
        <div class="H4 box white"></div>
        <div class="box-inner">4</div>

        <div class="box-inner">3</div>
        <div class="box white" data-x="0" data-y="2"></div>
        <div class="box" data-x="1" data-y="2"></div>
        <div class="box white" data-x="2" data-y="2"></div>
        <div class="box" data-x="3" data-y="2"></div>
        <div class="box white" data-x="4" data-y="2"></div>
        <div class="box" data-x="5" data-y="2"></div>
        <div class="box white" data-x="6" data-y="2"></div>
        <div class="box" data-x="7" data-y="2"></div>
        <div class="box-inner">3</div>

        <div class="box-inner">2</div>
        <div class="A2 box"></div>
        <div class="B2 box white"></div>
        <div class="C2 box"></div>
        <div class="D2 box white"></div>
        <div class="E2 box"></div>
        <div class="F2 box white"></div>
        <div class="G2 box"></div>
        <div class="H2 box white"></div>
        <div class="box-inner">2</div>

        <div class="box-inner">1</div>
        <div class="box white" data-x="0" data-y="0"></div>
        <div class="box" data-x="1" data-y="0"></div>
        <div class="box white" data-x="2" data-y="0"></div>
        <div class="box" data-x="3" data-y="0"></div>
        <div class="box white" data-x="4" data-y="0"></div>
        <div class="box" data-x="5" data-y="0"></div>
        <div class="box white" data-x="6" data-y="0"></div>
        <div class="box" data-x="7" data-y="0"></div>

        <div class="box-inner"></div>
        <div class="box-inner">A</div>
        <div class="box-inner">B</div>
        <div class="box-inner">C</div>
        <div class="box-inner">D</div>
        <div class="box-inner">E</div>
        <div class="box-inner">F</div>
        <div class="box-inner">G</div>
        <div class="box-inner">H</div>
        <div class="box-inner"></div>
      </div>
    </div>
  </div>

  <div class="cell large-3 text-center" id="player2">
    <% if @player_black %>
        <h3>Player 2 Ready!</h3>
        <h4><%= @player_black.username %></h4>
    <% else %>
        <h3> Searching for Opponent...</h3>
    <% end %>
  </div>

</div>