<br />

<div class="text-center">
  <h1><%= @game.name %></h1>
</div>


<div class="grid-x grid-padding-x align-spaced">
  <div class="cell large-4 text-center" id="player1">
    <h3>Player 1 Ready!<h3>
  </div>

  <div class="cell large-auto">
    <div class="row align-center">
      <div class="wrapper">
      <div class="top">
        <div class="wrapper-inner">
          <div class="box-inner">A</div>
          <div class="box-inner">B</div>
          <div class="box-inner">C</div>
          <div class="box-inner">D</div>
          <div class="box-inner">E</div>
          <div class="box-inner">F</div>
          <div class="box-inner">G</div>
          <div class="box-inner">H</div>
        </div>
      </div>
      <div class="A8 box">&#9820</div>
      <div class="B8 box">&#9822</div>
      <div class="C8 box">&#9821</div>
      <div class="D8 box">&#9819</div>
      <div class="E8 box">&#9818</div>
      <div class="F8 box">&#9821</div>
      <div class="G8 box">&#9822</div>
      <div class="H8 box">&#9820</div>

      <div class="A7 box">&#9823</div>
      <div class="B7 box">&#9823</div>
      <div class="C7 box">&#9823</div>
      <div class="D7 box">&#9823</div>
      <div class="E7 box">&#9823</div>
      <div class="F7 box">&#9823</div>
      <div class="G7 box">&#9823</div>
      <div class="H7 box">&#9823</div>

      <div class="A6 box"></div>
      <div class="B6 box"></div>
      <div class="C6 box"></div>
      <div class="D6 box"></div>
      <div class="E6 box"></div>
      <div class="F6 box"></div>
      <div class="G6 box"></div>
      <div class="H6 box"></div>

      <div class="A5 box"></div>
      <div class="B5 box"></div>
      <div class="C5 box"></div>
      <div class="D5 box"></div>
      <div class="E5 box"></div>
      <div class="F5 box"></div>
      <div class="G5 box"></div>
      <div class="H5 box"></div>

      <div class="A4 box"></div>
      <div class="B4 box"></div>
      <div class="C4 box"></div>
      <div class="D4 box"></div>
      <div class="E4 box"></div>
      <div class="F4 box"></div>
      <div class="G4 box"></div>
      <div class="H4 box"></div>

      <div class="A3 box"></div>
      <div class="B3 box"></div>
      <div class="C3 box"></div>
      <div class="D3 box"></div>
      <div class="E3 box"></div>
      <div class="F3 box"></div>
      <div class="G3 box"></div>
      <div class="H3 box"></div>

      <div class="A2 box">&#9817</div>
      <div class="B2 box">&#9817</div>
      <div class="C2 box">&#9817</div>
      <div class="D2 box">&#9817</div>
      <div class="E2 box">&#9817</div>
      <div class="F2 box">&#9817</div>
      <div class="G2 box">&#9817</div>
      <div class="H2 box">&#9817</div>

      <div class="A1 box">&#9814</div>
      <div class="B1 box">&#9816</div>
      <div class="C1 box">&#9815</div>
      <div class="D1 box">&#9813</div>
      <div class="E1 box">&#9812</div>
      <div class="F1 box">&#9815</div>
      <div class="G1 box">&#9816</div>
      <div class="H1 box">&#9814</div>
      <div class="bottom">
        <div class="wrapper-inner">
          <div class="box-inner">A</div>
          <div class="box-inner">B</div>
          <div class="box-inner">C</div>
          <div class="box-inner">D</div>
          <div class="box-inner">E</div>
          <div class="box-inner">F</div>
          <div class="box-inner">G</div>
          <div class="box-inner">H</div>
        </div>
      </div>

    </div>
    </div>
  </div>

  <div class="cell large-4 text-center" id="player2">
    <h3>Searching for An Opponent ...<h3>
  </div>

</div>